@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: white;
  color: black;
  padding: 14px 25px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:  0.3s ease;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn:hover {
  background: red;
}

.btn.dark-btn {
  background: #212EA0;
  color: white;
}

/* Media queries */
@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn {
    padding: 14px 22px;
  }
}

@media (max-width: 800px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
  }

  .btn {
    padding: 12px 20px;
    font-size: 16px;
  }

  .btn img {
    width: 18px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .btn {
    padding: 10px 18px;
    font-size: 14px;
  }

  .btn img {
    width: 16px;
    margin-left: 8px;
  }
}
